node_modules
.env
/packages/launcher/dist
/packages/server/public_files
/packages/server/output_manifests
.DS_Store

# Ignore all files in these folders
/public/*
/packages/server/output_manifests/*

# Do not ignore the folders itself
!/public/
!/packages/server/output_manifests
